.idea
*.suo
.vscode/*
*.log
npm-debug.log*
*.ntvs*
lerna-debug.log*
*.njsproj
dist
node_modules
!.vscode/extensions.json
pnpm-debug.log*
dist-ssr
logs
*.sw?
.DS_Store
yarn-error.log*
*.local
yarn-debug.log*
*.sln

