.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 125px;
}
.page-count {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00b207;
}
.switches {
  color: #00b207;
  user-select: none;
  cursor: pointer;
}
.disabled {
  color: #333;
  cursor: not-allowed;
  user-select: none;
}
.amount-container {
  display: flex;
  align-items: center;
}